anaconda==0.0.1.1
backoff==2.2.1
boto3==1.28.45
botocore==1.31.45
CacheControl==0.13.1
cachetools==5.2.0
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.6
ci-info==0.3.0
click==8.0.1
colorama==0.4.4
configobj==5.0.8
configparser==5.0.2
crayons==0.4.0
cryptography==41.0.4
cssselect==1.1.0
DateTime==5.2
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.6
et-xmlfile==1.1.0
etelemetry==0.3.1
filelock==3.9.0
firebase-admin==6.2.0
fitz==0.0.1.dev2
Flask==2.0.1
Flask-Login==0.5.0
future==0.18.3
google-api-core==2.11.0
google-api-python-client==2.97.0
google-auth==2.23.4
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.3
google-cloud-firestore==2.13.1
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.57.0
grpcio==1.59.2
grpcio-status==1.59.2
gspread==5.10.0
httplib2==0.21.0
idna==3.2
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==1.0.1
json5==0.9.6
looseversion==1.3.0
lxml==4.6.3
MarkupSafe==2.0.1
msgpack==1.0.7
networkx==3.2.1
nexmo==2.5.2
nibabel==5.1.0
nipype==1.8.6
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.0.10
packaging==23.2
panda==0.3.1
pandas==2.0.2
pathlib==1.0.1
platformdirs==2.6.2
proto-plus==1.22.3
protobuf==4.21.12
prov==2.0.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycurl==7.44.1
pydot==1.4.2
pygsheet==0.1.19b25
pygsheets==2.0.6
PyJWT==2.8.0
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pyparsing==3.0.9
pyquery==1.4.3
pyspider==0.3.10
python-dateutil==2.8.2
pytz==2021.3
pyxnat==1.6
PyYAML==6.0.1
rdflib==7.0.0
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.2
scipy==1.11.4
selenium==3.141.0
simplejson==3.19.2
six==1.16.0
tblib==1.7.0
tornado==4.5.3
traits==6.3.2
tzdata==2023.3
u-msgpack-python==2.7.1
uritemplate==4.1.1
urllib3==1.26.6
virtualenv==20.17.1
walk==0.2.4
webcolors==1.12
webdriver-manager==3.4.2
Werkzeug==2.0.1
wrapt==1.15.0
WsgiDAV==3.1.1
xlrd==2.0.1
XlsxWriter==3.0.3
zope.interface==6.1
